<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<div th:include="tongyong" ></div>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<title>聊天</title>
<!-- 
 	<link rel="stylesheet" th:attr="href=${application.webstaticname}+@{resouce/html/layim/layui/css/layui.css}" /> -->
 	<link rel="stylesheet" th:attr="href=${application.webstaticname}+@{resouce/html/layuicms2.0/rigtMenu/contextMenu.css}" />
<style>
html{background-color: #333;}
</style>
</head>
<script th:inline="javascript">
var userid=[[${user.uid}]];
var username= [[${user.username}]];
var groups = [[${session.groups}]];
</script>
<body>
	<script type="text/javascript" th:attr="src=${application.webstaticname}+@{resouce/html/jquery-1.8.3.js}"></script>
<!-- 	<script type="text/javascript" th:attr="src=${application.webstaticname}+@{resouce/html/layuicms2.0/rigtMenu/contextMenu.js}"></script>
 --><!-- 
	<script type="text/javascript" th:attr="src=${application.webstaticname}+@{resouce/html/layim/layui/layui.js}"></script> -->
	<script type="text/javascript" th:attr="src=${application.webstaticname}+@{resouce/html/tio/tiows.js}"></script>
	<!-- <script type="text/javascript" th:attr="src=${application.webstaticname}+@{resouce/html/tio/imHandler.js}"></script> -->	
		
<script>
layui.config({
	  base: webstaticname+'resouce/html/layuicms2.0/rigtMenu/' //扩展 JS 所在目录
	}).extend({
	  socket: 'socket'
	});
		
/*<![CDATA[*/

	

var layer;
	
layui.use(['layim','jquery','element','upload','laydate','layer','socket'], function(layim){
	
	  var $ =layui.jquery,
      element=layui.element
	  ,upload=layui.upload
	  ,laydate=layui.laydate;
	  layer=layui.layer;
	 
	  
  
  //演示自动回复
  var autoReplay = [
    '您好，我现在有事不在，一会再和您联系。', 
    '你没发错吧？face[微笑] ',
    '洗澡中，请勿打扰，偷窥请购票，个体四十，团体八折，订票电话：一般人我不告诉他！face[哈哈] ',
    '你好，我是主人的美女秘书，有什么事就跟我说吧，等他回来我会转告他的。face[心] face[心] face[心] ',
    'face[威武] face[威武] face[威武] face[威武] ',
    '<（@￣︶￣@）>',
    '你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。',
    'face[黑线]  你慢慢说，别急……',
    '(*^__^*) face[嘻嘻] ，是贤心吗？'
  ];
  
  //基础配置
  layim.config({
	 /*  webstaticname+'/resouce/html/layim/demo/json/getList.json' */
    //初始化接口
    init: {
      url: webname+'/chatUser/getChatUser'
      ,data: {}
    }
    //或采用以下方式初始化接口
    /*
    ,init: {
      mine: {
        "username": "LayIM体验者" //我的昵称
        ,"id": "100000123" //我的ID
        ,"status": "online" //在线状态 online：在线、hide：隐身
        ,"remark": "在深邃的编码世界，做一枚轻盈的纸飞机" //我的签名
        ,"avatar": "a.jpg" //我的头像
      }
      ,friend: []
      ,group: []
    }
    */
    
  /*   webname+'/chatUser/getMembers'    webstaticname+'/resouce/html/layim/demo/json/getMembers.json'  */
    //查看群员接口
    ,members: {
      url: webname+'/chatUser/getMembers' 
      ,data: {}
    }
    
    //上传图片接口
    ,uploadImage: {
      url: webname+'/ftpup/layImUpImg' //（返回的数据格式见下文）
      ,type: 'post' //默认post
    } 
    
    //上传文件接口
    ,uploadFile: {
      url: webname+'/ftpup/layImUpFile' //（返回的数据格式见下文）
      ,type: 'post' //默认post
    }
    //扩展工具栏
    ,tool: [{
      alias: 'code'
      ,title: '代码'
      ,icon: '&#xe64e;'
    }]
    //,brief: true //是否简约模式（若开启则不显示主面板）
    ,title: '聊天工具' //自定义主面板最小化时的标题
    //,title: 'WebIM' //自定义主面板最小化时的标题
    //,right: '100px' //主面板相对浏览器右侧距离
    //,minRight: '90px' //聊天面板最小化时相对浏览器右侧距离
    ,initSkin: '3.jpg' //1-5 设置初始背景
    //,skin: ['aaa.jpg'] //新增皮肤
    //,isfriend: false //是否开启好友
    //,isgroup: false //是否开启群组
    //,min: true //是否始终最小化主面板，默认false
    ,notice: true //是否开启桌面消息提醒，默认false
    //,voice: false //声音提醒，默认开启，声音文件为：default.wav
    
    ,msgbox: webname + '/chatUser/toMsgBox' //消息盒子页面地址，若不开启，剔除该项即可
    ,find: webname + '/chatUser/toFindFriend' //发现页面地址，若不开启，剔除该项即可
    ,chatLog: webname + '/chatUser/toRecord' //聊天记录页面地址，若不开启，剔除该项即可
    
  });
  


  /*
  layim.chat({
    name: '在线客服-小苍'
    ,type: 'kefu'
    ,avatar: 'http://tva3.sinaimg.cn/crop.0.0.180.180.180/7f5f6861jw1e8qgp5bmzyj2050050aa8.jpg'
    ,id: -1
  });
  layim.chat({
    name: '在线客服-心心'
    ,type: 'kefu'
    ,avatar: 'http://tva1.sinaimg.cn/crop.219.144.555.555.180/0068iARejw8esk724mra6j30rs0rstap.jpg'
    ,id: -2
  });
  layim.setChatMin();*/

  //监听在线状态的切换事件
  layim.on('online', function(data){
	  console.log(data); //获得online或者hide
	  $.post(webname+"/chatUser/chageStatus",{status:data,uid:userid},function(d){
		  if(d.code<0){
			  layer.msg("系统错误");
		  }
	  })
  });
  
  //监听签名修改
  layim.on('sign', function(value){
	  console.log(value); //获得新的签名
	  $.post(webname+"/chatUser/changSign",{sign:value,uid:userid},function(d){
		  if(d.code<0){
			  layer.msg("系统错误");
		  }
	  })
	  
  });

  //监听自定义工具栏点击，以添加代码为例
  layim.on('tool(code)', function(insert){
    layer.prompt({
      title: '插入代码'
      ,formType: 2
      ,shade: 0
    }, function(text, index){
      layer.close(index);
      insert('[pre class=layui-code]' + text + '[/pre]'); //将内容插入到编辑器
    });
     
  });
  

  //监听layim建立就绪
  layim.on('ready', function(res){
	  layui.socket.contextMenu(); //更新右键点击事件

   console.log(res.mine);
   $.post(webname+"/chatUser/getNoReadMsgCount",{userid:userid},function(res){
	   if(res.code==1 && res.object>0){
		   layim.msgbox(res.object);
	   }
		
	})
    

  });

  //监听发送消息
  layim.on('sendMessage', function(data){
    var To = data.to;
    //console.log(data);
    
    var send = {
    		username:data.mine.username,
    		avatar:data.mine.avatar,
    		id:data.mine.id,
    		type:data.to.type,
    		content:data.mine.content,
    		mine:false,
    		fromid:data.mine.id,
    		toid:data.to.id
    }
   
    if(send.type=='group'){
    	send.id=data.to.id;
    }
    var info={
        	type:"chat",
        	send:send
        };
    
	  
	  //保存消息
	  var param = {
			  sendId:data.mine.id,
			  toId:data.to.id,
			  content:data.mine.content,
			  type:data.to.type,
	  };
	  $.post(webname+"/chatUser/insertRecord",param,function(d){
		  if(d.code<0){
			  layer.msg("系统错误")
		  }else{
			  info.jilu=d.object.id;
		      tiows.send(JSON.stringify(info));
		  }
	  })
	  

  });
 
  //监听查看群员
  layim.on('members', function(data){
    console.log(data);
  });
  
  //监听聊天窗口的切换
  layim.on('chatChange', function(res){
    var type = res.data.type;
    console.log(res.data.id)
    var id = res.data.id;
    if(type === 'friend'){
   
    	//查询状态
    	 $.post(webname+"/chatUser/getUserStatus",{uid:id},function(d){
    		//标注好友状态
    		 if(d=="1"){
    			 layim.setChatStatus('<span style="color:#458B00;">在线</span>');
    		 }else{
    			  layim.setChatStatus('<span style="color:#FF5722;">离线</span>');
    		 }
    		
    	  
    	 })
      
    } else if(type === 'group'){
    	console.log(1111111111111111111)
     
    }
  });
  
  ////////////////

 
  
  
  
  ///////////////////////////////////////////
var IMHandler = function () {
	  
	  this.onopen = function (event, ws) {
	    ws.send('hello 连上了哦')
	    //document.getElementById('contentId').innerHTML += 'hello 连上了哦<br>';
	  }

	  /**
	   * 收到服务器发来的消息
	   * @param {*} event 
	   * @param {*} ws 
	   */
	 this.onmessage = function (event, ws) {
	    var data = event.data;
	    var res;
	    if(data!=null && data!="" && data!='hello 连上了哦' &&data!="心跳内容"){
	    	res = JSON.parse(data);
	    	if(res.type=='chat'){
	    		//表示聊天类型
	    		if(res.send.fromid!=userid){
		    		layim.getMessage(res.send); //res.data即你发送消息传递的数据（阅读：监听发送的消息）
	    		}
	    	}else if(res.type=="systemGroup"){
	    		console.log(res);
	    		 layim.getMessage(res.send);
	    	}else if(res.type=='apply'){
	    		//说明接收到申请
	    		
		    		console.log(res.send);
		    		//alert(res.send.username);
		    		$.post(webname+"/chatUser/getNoReadMsgCount",{userid:userid},function(res){
		    			if(res.code==1 && res.object>0){
		    				   layim.msgbox(res.object);
		    			   }
		    				
		    		})
		    		
	    		 
	    		
	    	}else if(res.type=='systemagree'){
	    	
	    		$.post(webname+"/chatUser/getNoReadMsgCount",{userid:userid},function(res){
	    			 if(res.code==1 && res.object>0){
	    				   layim.msgbox(res.object);
	    			   }
	    				
	    		})
				console.log(data);
	    		if(res.send.id!=null && res.send.id!=''){
	    			//同意  
	    			//接收到系统消息
		    		 layim.addList({
		                type: res.send.type
		                ,avatar: res.send.avatar //好友头像
		                ,username: res.send.username //好友昵称
		                ,groupid: res.send.group //所在的分组id
		                ,id: res.send.id //好友ID
		                ,sign: res.send.sign //好友签名
		              }); 
	    		}else if(res.group!=null){
	    			console.log(res);
	    			 layim.addList({
	    				  	   type: 'group' //列表类型，只支持friend和group两种
	    					  ,avatar:  res.group.avatar //群组头像
	    					  ,groupname: res.group.groupname //群组名称
	    					  ,id:res.group.id //群组id
	    					});
	    			 //绑定到群里
	    			 var info={
	    					groupid:res.group.id,
	    					type:"systemGroup",
	    					send:{
	    						 system: true
	    					     ,id: res.group.id
	    					     ,type: "group"
	    					     ,content: '欢迎'+username+'加入本群'
	    					}
	    			 };
	    			 tiows.send(JSON.stringify(info));
	    			
	    		}
	    		
	    		
	    	}else if(res.type=='delFriend'){
	    		//接收到用户删除自己的消息
	    		
	    		  layim.removeList({//从我的列表删除
                    type: 'friend' //或者group
                    ,id:res.sendid //好友或者群组ID
                });  
	    		  layui.socket.removeHistory({//从我的历史列表删除
                    type: 'friend' //或者group
                    ,id:res.sendid //好友或者群组ID
                });
	    		  $.post(webname+"/chatUser/getNoReadMsgCount",{userid:userid},function(res){
		    			 if(res.code==1 && res.object>0){
		    				   layim.msgbox(res.object);
		    			   }
		    				
		    		})
	    	}else if(res.type=='systemGroupRefund'){
	    		//表示群主解散群了
        	 layim.removeList({
                    type: 'group' //或者group
                    ,id: res.groupid //好友或者群组ID
                });
        	  layui.socket.removeHistory({//从我的历史列表删除
                    type: 'group' //或者group
                    ,id: res.groupid //好友或者群组ID
                }); 
        	
                
                
        	 //查询消息盒子中我的消息
	    		$.post(webname+"/chatUser/getNoReadMsgCount",{userid:userid},function(res){
		    			 if(res.code==1 && res.object>0){
		    				   layim.msgbox(res.object);
		    			   }
		    				
		    	})
		    	//解除与群组的关系
		    	var info={
        		 	type:"unbindGroup",
        			groupid:res.groupid, 
        	 	}
		    	 tiows.send(JSON.stringify(info));
	    	}
	          
	          
	    	
	    	//////////////////////////////////////
	          
	       	  var jilu = res.jilu;//接收到说明在线，修改信息状态
	       		var param={
	       			  id:jilu
	       	 		 };
	       	  $.post(webname+"/chatUser/upState",param,function(d){
	       		 	 if (d.code<0) {
						layer.msg("系统错误！")
					}
	       			//layer.msg("1111")
	       	  });
	       
				
	    }
	   
	 	    
	  
	
	    
	  }

	  this.onclose = function (e, ws) {
	    // error(e, ws)
	  }

	  this.onerror = function (e, ws) {
	    // error(e, ws)
	  }

	  /**
	   * 发送心跳，本框架会自动定时调用该方法，请在该方法中发送心跳
	   * @param {*} ws 
	   */
	  this.ping = function (ws) {
	    // log("发心跳了")
	    ws.send('心跳内容')
	    
		  //layim.setFriendStatus(11111, 'online');
	    
	  }
	}
  
  /////

var ws_protocol = 'ws'; // ws 或 wss
var ip = tcpIp;
var port = tcpPort;

var heartbeatTimeout = 5000; // 心跳超时时间，单位：毫秒
var reconnInterval = 1000; // 重连间隔时间，单位：毫秒

var binaryType = 'blob'; // 'blob' or 'arraybuffer';//arraybuffer是字节
var handler = new IMHandler()
var myself=0;


var tiows;
function initWs () {
	
	  var queryString = 'id='+userid+"&groups="+groups;
	   
	  var param = "";
	  tiows = new tio.ws(ws_protocol, ip, port, queryString, param, handler, heartbeatTimeout, reconnInterval, binaryType)
	  tiows.connect();
	}
	
initWs();
//传递对象 
layui.socket.config(layim,tiows);

});



/*]]>*/
</script>



</body>
</html>
