<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.home.backbusiness.mapper.NewsTypeMapper">

	<select id="simpleFound" parameterType="com.my.home.backbusiness.po.NewsType" resultType="com.my.home.backbusiness.po.NewsType">
		select * from newstype where isdel = 0
	</select>
	
	<update id="update" parameterType="com.my.home.backbusiness.po.NewsType">
		update newstype 
		<trim prefix="set" suffixOverrides=",">
			<if test="typeName!=null and typeName!=''">typeName=#{typeName},</if>
		</trim>
		<where>
			id=#{id}
		</where>
	</update>
	
	<update id="delete" parameterType="com.my.home.backbusiness.po.NewsType" >
		update newstype set isdel =1 where id=#{id}
	</update>
	
	<select id="pageCount" parameterType="com.my.home.backbusiness.po.NewsType" resultType="java.lang.Integer">
		select count(1) from newstype
		<where>
			<if test="typeName!=null and typeName!=''">
				typeName=#{typeName}
			</if>
		</where>
	</select>
	
	<select id="pageFound" resultType="com.my.home.backbusiness.po.NewsType">
		select * from newstype where isdel=0 order by createTime DESC limit #{one} ,#{two}
	</select>
	
	<insert id="insert" parameterType="com.my.home.backbusiness.po.NewsType" keyProperty="id" useGeneratedKeys="true">
		insert into newstype(typeName,createTime) values(#{typeName},now())
	</insert>
	

</mapper>