<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.home.backbusiness.mapper.NewsMapper">

	<insert id="insert" parameterType="com.my.home.backbusiness.po.News"
		keyProperty="id" useGeneratedKeys="true">
		insert into
		news(title,typeid,createTime,author,content,wenben)
		values(#{title},#{typeid},NOW(),#{author},#{content},#{wenben})
	</insert>

	<update id="update" parameterType="com.my.home.backbusiness.po.News">
		update news
		<trim prefix="set" suffixOverrides=",">
			<if test="title!=null and title!=''">title=#{title},</if>
			<if test="author!=null and author!=''">author=#{author},</if>
			<if test="content!=null and content!=''">content=#{content},</if>
			<if test="wenben!=null and wenben!=''">wenben=#{wenben},</if>
			<if test="typeid!=null and typeid!=''">typeid=#{typeid},</if>
		</trim>
		<where>
			id=#{id}
		</where>
	</update>

	<update id="delete" parameterType="com.my.home.backbusiness.po.News">
		update news set isdel = 1 where id=#{id}
	</update>

	<select id="simpleFound" parameterType="com.my.home.backbusiness.po.News" resultType="com.my.home.backbusiness.po.News">
		select n.*,t.typeName from news as n LEFT JOIN newstype as
		t on
		n.typeid=t.id
		where n.isdel=0
		<if test="typeid!=null and typeid!=''">
			and typeid=#{typeid}
		</if>
		<if test="id!=null and id!=''">
			and n.id=#{id}
		</if>
	</select>

	<select id="pageCount" parameterType="com.my.home.backbusiness.po.News"
		resultType="java.lang.Integer">
		select count(1) from news where isdel=0
		<if test="typeid!=null and typeid!=''">
			and typeid=#{typeid}
		</if>
		<if test="title!=null and title!=null">and title like '%${title}%'</if>
	</select>

	<select id="pageFound" resultType="com.my.home.backbusiness.po.News">
		select n.*,t.typeName from news as n LEFT JOIN newstype as
		t on
		n.typeid=t.id
		where n.isdel=0 
		<if test="n.typeid!=null and n.typeid!=''">
			and typeid=#{n.typeid}
		</if>
		<if test="n.title!=null and n.title!=null">and n.title like '%${n.title}%'</if>
		order by n.createTime desc
		limit #{one},#{two}
	</select>
	
	<!-- 查询最近更新的10条新闻 -->
	<select id="foundTop"  resultType="com.my.home.backbusiness.po.News">
		select * from news where isdel = 0  ORDER BY createTime DESC limit 0,10
	</select>
	
	<update id="deletes">
		update news set isdel=1 where id in 
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>