<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.home.system.mapper.UserMapper">
	<insert id="insert" parameterType="com.my.home.system.po.SysUser" useGeneratedKeys="true" keyProperty="uid">
			insert into User(username,password,salt,createTime<if test="roleid!=null and roleid!=''">,roleid</if>) values(#{username},#{password},#{salt},now()<if test="roleid!=null and roleid!=''">,#{roleid}</if>)
	</insert>
	
	<select id="login" parameterType="com.my.home.system.po.SysUser"  resultType="com.my.home.system.po.SysUser">
		select u.*,r.rname as rname,r.modelid as modelid,r.isdel as del,r.isdisable as rdis,r.bigmenuid as bigmenuid,r.menuid as menuid from User as u LEFT JOIN role as r on u.roleid=r.rid
		<where>
				u.isdel=0 and r.isdel=0 
			<if test="uid !=null and uid!=''">
				and u.uid=#{uid}
			</if>
			<if test="username!=null and username!=''">
				and u.username=#{username}
			</if>
		</where>
	</select>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.my.home.system.po.SysUser">
		update user 
		<trim prefix="set" suffixOverrides=",">
			<if test="realName!=null and realName!=''">realName=#{realName},</if>
			<if test="sex!=null and sex!=''">sex=#{sex},</if>
			<if test="userPhone!=null and userPhone!=''">userPhone=#{userPhone},</if>
			<if test="userBirthday!=null and userBirthday!=''">userBirthday=#{userBirthday},</if>
			<if test="province!=null and province!=''">province=#{province},</if>
			<if test="city!=null and city!=''">city=#{city},</if>
			<if test="area!=null and area!=''">area=#{area},</if>
			<if test="userEmail!=null and userEmail!=''">userEmail=#{userEmail},</if>
			<if test="myself!=null and myself!=''">myself=#{myself},</if>
			<if test="headImg!=null and headImg!=''">headImg=#{headImg},</if>
			<if test="userEndTime!=null ">userEndTime=now(),</if>
			<if test="isdisable!=null and isdisable!=''">isdisable=#{isdisable},</if>
			<if test="roleid!=null and roleid!=''">roleid=#{roleid},</if>
			<if test="username!=null and username!=''">username=#{username},</if>
			<if test="password!=null and password!=''">password=#{password},</if>
			<if test="salt!=null and salt!=''">salt=#{salt},</if>
			<if test="status!=null and status!=''">status=#{status},</if>
			<if test="sign!=null and sign!=''">sign=#{sign},</if>
			<if test="isSingle!=null and isSingle!=''">isSingle=#{isSingle},</if>
		</trim>
		<where>
			uid=#{uid}
		</where>
	</update>
	
	<!-- 简易查询 -->
	<select id="simpleFound" parameterType="com.my.home.system.po.SysUser" resultType="com.my.home.system.po.SysUser">
		select u.*,r.rname as rname,r.modelid as modelid,r.bigmenuid as bigmenuid,r.menuid as menuid from User as u LEFT JOIN role as r on u.roleid=r.rid
		<where>
			u.isdel=0
			<if test="uid!=null and uid!=''">and u.uid=#{uid}</if>
			<if test="username!=null and username!=''">and u.username=#{username}</if>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="pageFound" resultType="com.my.home.system.po.SysUser">
		select u.*,r.rname as rname,r.modelid as modelid,r.isdel as del,r.bigmenuid as bigmenuid,r.menuid as menuid from User as u LEFT JOIN role as r on u.roleid=r.rid
		<where>
			u.isdel = 0
			<if test="s.uid!=null and s.uid!=''">and u.uid=#{s.uid}</if>
			<if test="s.username!=null and s.username!=''">and u.username like '%${s.username}%'</if>
		</where>
		<if test="start!=null and end!=null">
			limit #{start} ,#{end}
		</if>
	</select>
	
	<!-- 查询数量 -->
 	<select id="pageCount" resultType="java.lang.Integer">
 		select count(1) from User as u LEFT JOIN role as r on u.roleid=r.rid
 		<where>
			u.isdel = 0
			<if test="s.uid!=null and s.uid!=''">and u.uid=#{s.uid}</if>
			<if test="s.username!=null and s.username!=''">and u.username like '%${s.username}%'</if>
		</where>
 	</select>
 	<!-- 删除 -->
 	<update id="deleteUser" parameterType="com.my.home.system.po.SysUser">
 		update User set isdel =1 where uid=#{uid}
 	</update>
 	<!-- 批量删除 -->
 	<update id="deletesUser">
 			update User set isdel=1 where uid in 
 			<foreach collection="uids" open="(" close=")" item="uid" separator=",">
 				#{uid}
 			</foreach>
 	</update>
</mapper>
