<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.my.home.other.oauth.mapper.ClientMapper">
	<!-- 查询 -->
	<select id="simpleFound" parameterType="com.my.home.other.oauth.po.Client" resultType="com.my.home.other.oauth.po.Client">
		select * from Client 
		<where>
			<if test="id!=null and id!=''">and id=#{id}</if>
			<if test="clientName!=null and clientName!=''">and clientName=#{clientName}</if>
			<if test="clientId!=null and clientId!=''">and clientId=#{clientId}</if>
			<if test="clientSecret!=null and clientSecret!=''"> and clientSecret=#{clientSecret}</if>
		</where>
	</select>
</mapper>
